.navbar-brand {
    width: 150px;
}
.navbar h3{
    display: inline-block;
    background: #fff;
    font-size: 22px;
    color: #e74c3c;
    padding: 5px 15px;
    border-radius: 5px;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
main button.btn{
    width: 220px;
    line-height: 45px;
}
.color{
    border-radius: 5px;
    padding: 5px 15px;
    background: #fff;
    color: rgb(21, 147, 185);
}